<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WUPHF.COM | <%= title %></title>
    <script src="https://kit.fontawesome.com/d0d39b9bb5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        body{
            background-color: black;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        span.head{
            padding-left: 5px;
            font-size: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        div.disp{
            background-color: rgb(55,46,46);
            border: 1px solid rgb(55,46,46);
            border-radius: 12px;
            margin: 10px;
            padding: 20px 10px;
        }
        span.colorHead{
            color: rgb(243,203,118);
        }
        span.ts{
            color: rgb(243,203,118);
        }
        div.norevdisp{
            color: rgb(243,203,118);
            text-align: center;
            background-color: rgb(55,46,46);
            border: 1px solid rgb(55,46,46);
            border-radius: 12px;
            margin: 10px;
            padding: 5px;
        }
        #ta{
            background-color: rgb(55,46,46);
            border: 1px solid rgb(55,46,46);
            border-radius: 12px;
            margin: 10px;
            padding: 5px;

        }
        #overlay{
            text-align: center;
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.8);
            z-index: 2;

        }
        table{
            margin-left: auto;
            margin-right: auto;
        }
        .button{
            background-color: black;
            border: none;
            cursor: pointer;
        }
        #form{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
    <div style="position:sticky;top:0;background-color:black;">
        <div style="text-align:center;">
            <span style="color: white;"><i class="fas fa-film fa-5x"></i></span>
            <span style="color:white;padding-left:5px;font-size: 50px;font-family: 'Fredoka One', cursive;">WUPHF</span>
            <span style="color:white;font-size: 20px;font-family: 'Fredoka One', cursive;">.com</span>
        </div>
        <table>
            <tr>
                <td><span id="ui-widget"><input type="text" id="suggestions" name="search" style="height:25px;width:200px;border:1px solid white;" placeholder="Search Show/Movie..."></span></td>
                <td><button type="submit" class="button" onclick="searchShow()"><i class="fas fa-search fa-2x" style="color:white"></i></button></td>
                <td><button type="button" onclick="dispFunc()" class="button"><i class="fas fa-pencil-alt fa-2x" style="color:white"></i></button></td>
                <td><button type="button" onclick="homePage()" class="button"><i class="fas fa-igloo fa-2x" style="color:white"></i></button></td>
            </tr>
        </table>
        <hr>
    </div>

    <% if(reviews.length!=0){ %>
     <% reviews.forEach(review => { %>
        <div class="disp">
                <span class='colorHead'>SHOW/MOVIE: </span><%= review.show_movie %><br>
                <span class='colorHead'>RATING: </span><%= review.rating %><br>
                <span class='colorHead'>NAME: </span><%= review.name %><br><br>
                <span class='colorHead'>REVIEW: </span><%= review.review %><br>
        </div>
     <% }) %>
     
    <% }else{ %>
        <div class='norevdisp'><p>NO REVIEWS</p></div>
    <% } %>
    
    <div id="overlay">
       <form action="/reviews" method="post" id="form" autocomplete="off">
            <table>
                <tr>
                    <td>Your name: </td>
                    <td><input type="text" name="name" required></td>
                </tr>
                <tr>
                    <td>Show/Movie: </td>
                    <td><input type="text" name="show_movie" required></td>
                </tr>
                <tr>
                    <td>Rating out of 5: </td>
                    <td><input type="text" name="rating" required></td>
                </tr>
            </table>
            <textarea id="ta" rows="5" cols="50" style="color:white" placeholder="Enter your review here..." name="review" required></textarea>
            <br>
            <input type="submit" name="submit" value="SUBMIT" style="cursor:pointer;display:inline-block;background-color:blue;color:white;border:0;font-family: 'Fredoka One', cursive;height:30px;margin-right:5px;">
            <button type="button" onclick="hideFunc()" style="cursor:pointer;display:inline-block;background-color:blue;color:white;border:0;font-family: 'Fredoka One', cursive;height:30px;margin-left:5px;">CANCEL</button>
       </form>

    </div>
    
    <script>

        var revArr = sessionStorage.getItem("revArr").split(','); 
        
        function dispFunc(){
           document.getElementById("overlay").style.display = "block";
        }
        function hideFunc(){
           document.getElementById("overlay").style.display = "none";
        }
        function searchShow(){
            var str = document.getElementById("suggestions").value;
            // var index = revArr.indexOf(str);
            // var id = idArr[index];
            
            window.location.replace("/reviews/"+str);
        }
        function homePage(){
            window.location.replace("/reviews");
        }

        $(function(){
            $("#suggestions").autocomplete({
                source: revArr
            });
        });

    </script>
</body>
</html>